# MacOS DS_Store files
.DS_Store

# Gradle cache folder
.gradle

# Gradle build folder
build

# IntelliJ
out/
.idea
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Common working directory
run
